<!DOCTYPE html>
<html>
<head>
    <title>Konkan Eco Ventures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>Konkan Eco</h2>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/about">About</a>
        <a href="/events">Events</a>
        <a href="/certificates">Certificates</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
    </div>
</div>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>